<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyTravelEvent</title>
</head>
<body>
   <h1>TODO: complete this page</h1>
        <label> Information for {{destin_city}}, {{destin_country}}</label>
        <!-- Weather and Yelp need JSON parsing -->
        <!-- <p>Weather info: {{forecast_response.temp}}{{forecast_response}}</p> -->
        <!-- <p>On {forecast_time},at {forecast_date} the temperature will be {temp_round}C, the wind speed will be {wind_speed} km/h, can be described as {description}</p> -->
        <p>Yelp Events table for the dates {{userinfo}}</p>
        <!-- <p>Currency Converter: {{convertion_rate}}</p>  -->
</body>
</html>
