<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyTravelEvent</title>
</head>
<body>
   <h4>MyEventInfo</h4>

        <label> Information for {{destin_city}}, {{destin_country}}</label> <br>

        <label for="event_info">Information regarding your Yelp events for the dates entered:</label><br>
        {%if yelp_3_events_descriptions is defined and yelp_3_events_descriptions|length>0%}
            {% for event in yelp_3_events_descriptions%}
                {{event}}<br>
            {% endfor %}
        {%else:%}
            <p>Looks like there are no events for your dated listed on Yelp. Try a longer date range.</p>
        {%endif%}
        <br>
        <label for="weather_data">Weather data for current weather at your destination and upcoming weather for the week: </label>
        <br>
        {% for weather in weather_7_days%}
            {{weather}}<br>
        {% endfor %}
        <br>

        <label for="currency_converter">Currency converter: $1 USD =  {{conversion_rate}} {{destin_currency}}</label><br>
        <br>
        <a href = "/project_4_Traveling/Templates/saved_destinations.html">Go to saved destination page</a><br>
        <a href = "homepage.html">Go to homepage</a>
        <br><br><br>
        <form method="POST" action="saveuserinfo">
            
            <input type="hidden" name="city" value ="{{destin_city}}">
            <input type="hidden" name="country" value ="{{destin_country}}">


            <button type="save" name="save_button" value="Save">save</button>
        

            <button type="save" name="saved_button" value="Show saved">show my saved events </button>

        </form>
</body>

</html>
