<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyTravelEvent</title>
</head>
<body>
   <h4>MyEventInfo</h4>
        <label> Information for {{destin_city}}, {{destin_country}}</label> <br>

        <label for="event_info">Information regarding your Yelp events for the dates entered:</label><br>

        <p name="first_event_info">{{yelp_3_events_descriptions}}</p><br><br>

        <!-- TODO: parse Yelp and find events by dates -->
        <label for="weather_data">Weather data for current weather at your destination and upcoming weather for the week: </label>
        <p name="weather_data">{{weather_7_days}}</p><br>

        <label for="currency_converter">Currency converter: $1 USD =  {{conversion_rate}} {{destin_currency}}</label><br>
        
        <a href = "saved_destinations.html">Go to saved destination page</a><br>
        <a href = "homepage.html">Go to homepage</a>
        
        <!-- Anything that modifies the DB should be a POST request -->
        <form method="POST" action="/save">
            <!-- hidden inputs to carry the data about this destination back to the server when you click save -->
            <input type="hidden" name="city" value ="{{destin_city}}">
            <input type="hidden" name="country" value ="{{destin_country}}">
            <!-- plus inputs for the other data. The values typically need to be strings or ints.-->
            <button type="submit" name="save_button" value="Save">save</button>
        </form>


        <!-- This can be a regular a element. If you want a button, wrap the a element around a button -->
        <a href="show_saved">
            <button>Show saved destnations</button>
        </a>

        <!-- <form method="GET" action="/project_4_Traveling/Templates/saved_destinations.html">
            <button type="save" name="save_button" value="Show_Saved">show my saved events </button>
        </form> -->
</body>

</html>
