<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved destinations</title>
    
</head>
<body>
    <!-- what is this form for? -->
    <!-- <form method = "GET" action = saveduserinfo > -->

    
        {%for show_event in show_events%}
            {{show_event}}<br>
            Name: {{ show_event.event_name}} <br>
            Country: {{ show_event.country}}
            <!-- etc. format more neatly -->
        {% endfor %}   
    
    <!-- </form> -->
</body>
</html>